@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* CSS RESET  */
*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ------------------------------------------log in  ---------------------------------------------  */

.login{
  background-color: #1b1b1b;
  /* background: url("../IMG/coppy-2.jpg") no-repeat; */
  min-height: 50vh;
  color: #ccc;
  /* background-size: cover; */
  /* background-attachment: fixed; */
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
}
/* .counter-up::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.8);
} */
.login .content{
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.log-con{
            display: grid;  
            margin: 60px auto;
            padding: 30px 30px;
            place-items: center;
            text-align: center;
            background: #1b1b1b;
            border: 7px solid  #00b2c1;
            border-radius: 25px;
}

.log-con .button-area{
  display: flex;
  align-items: center;
  margin: 20px;
  }

.log-con .button-area .sing-btn{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #cf1616;
  border: 2px solid #cf1616;
  transition: all 0.2s ease;
  }

.log-con .button-area .sing-btn:hover{
  color: #cf1616;
  background: none;
  }
  .log-con .button-area .log-btn{
    color: #fff;
    display: block;
    width: 160px!important;
    height: 45px;
    outline: none;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: #01bb20;
    border: 2px solid #007413;
    transition: all 0.2s ease;
    }
  
  .log-con .button-area .log-btn:hover{
    color: #01bb20;
    background: none;
    }


@media screen and (max-width: 1036px) {
  .login{
    padding: 50px 50px 0 50px;
  }
}
@media screen and (max-width:665px) {
  .login{
    padding: 10px 10px 0 10px;
  }
}



/* ------------------------------------------ navbar ---------------------------------------------  */
nav{
  position: sticky;
  top: 0px;
  display: flex;
  height: 80px;
  width: 100%;
  background: #00b2c1;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  z-index: 2;
}
nav .logo{
  color: #fff;
  display: flex;
  height:50px;
}

nav .logo img{
  height:50px;
}
nav .logo .logotex{
  color: #fff;
  margin: 10px 0px;
  margin-left: 15px;
  font-size: 24px;
  font-weight: 600;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active{
  color: #111;
  background: #fff;
}
nav ul li a:hover{
  color: #111;
  background: rgb(218, 209, 209);
  
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 30px 0 40px;
  }
}
@media (max-width: 950px) {
   nav .menu-btn i{
    display: block;
    
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
   nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
   nav ul li{
    width: 100%;
    margin: 40px 0;
  }
   nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
   nav ul li a.active,
   nav ul li a:hover{
    background: none;
    color: cyan;
  }
}

@media (max-width: 450px){
   nav{
    height: 50px;
    padding: 0 20px 0 20px;
    transition: 0.5s;
  }
   nav .logo{
    height:40px;
  }
  
   nav .logo img{
    height:40px;
  }
   nav .logo .logotex{

    margin: 10px 0px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
  }

}
@media (max-width: 250px){
 nav .logo .logotex{
    display: none;
  }

}

  /* ------------------------------------------ event blog---------------------------------------------  */
  
  

  .event-blog .title1{
    position: relative;
    text-align: center;
    color: #00b2c1;
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 30px;
    /* padding-bottom: 20px; */
    font-family: 'Ubuntu', sans-serif;
  }
  .event-blog{
    display: flex;
   flex-direction: column;
    align-content: center;
   justify-content: center;
   margin-top: 50px;
}


.event-blog-card {
   position: relative;
   display: flex;
   height: 370px;
   width: 95%;
   max-width: 850px;
   margin: 20px auto;
   border-radius: 25px;
   background: #1b1b1b;
   border: 5px solid  #00b2c1;
   box-shadow: 0px 10px 50px rgba(252, 56, 56, .3);

}

.inner-part {
   position:absolute;
   display: flex;
   height: 360px;
   align-items: center;
   justify-content: center;
   padding: 0 25px;
}

.inner-part .event-data-img-1 {
   height: 260px;
   width: 260px;
   flex-shrink: 0;
   overflow: hidden;
   border-radius: 20px;
   box-shadow: 2px 3px 15px rgba(252, 56, 56, .1);
}

/* .event-data-img event-data-img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   cursor: pointer;
   opacity: 0;
   transition: .6s;
} */



.event-data {
   padding: 0 20px 0 35px;
   width: 530px;
   margin-left: 50px;
   opacity: 0;
   transition: .6s;
}

.inner-part .event-data {
   opacity: 1;
   margin-left: 0px;
}

.event-data span {
   display: block;
   color: #c7c6da;
   margin-bottom: 15px;
   font-size: 22px;
   font-weight: 500
}

.event-data .title {
   font-size: 30px;
   font-weight: 700;
   color: #00b2c1;
   margin-bottom: 20px;
}

.event-data .text {
   color: #dddddd;
   font-size: 1.2rem;
   margin-bottom: 30px;
   line-height: 1.5em;
   text-align: justify;
}

.event-data button {
   display: inline-flex;
   padding: 10px 20px;
   border: none;
   font-size: 16px;
   text-transform: uppercase;
   color: #fff0e6;
   font-weight: 600;
   letter-spacing: 1px;
   border-radius: 10px;
   cursor: pointer;
   outline: none;
   border: 2px solid #fff0e6;
   background: linear-gradient(147deg, #e29f9f 40%, #00b2c1 74%);
}

.event-data button:hover {
   background: linear-gradient(147deg, white 0%, #f7baba 74%);
   border: 2px solid #00b2c1;
   color: #00b2c1;
}
                                                
@media (max-width: 1000px) {
 
  .inner-part {
    padding: 0 20px;
    flex-direction: column;
 }
 .event-blog-card {
  margin: 10px;
  height: 670px;
  align-items: center;
  justify-content: center;
}

.event-data {
  margin-top: 30px;
  text-align: center;
  justify-content: center;
 
}

.event-data span {
  align-items: center;
  justify-content: center;
}

.event-data .title {
  text-align: center;
  justify-content: center;
}

.event-data .text {
  align-items: center;
  justify-content: center;
}

}
.event-blog .button-area{
  display: flex;
  align-items: center;
  align-self: center;
  margin: 20px;
  }
  .event-blog  .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #00b2c1;
  border: 2px solid #00b2c1;
  transition: all 0.2s ease;
  }
  



@media (max-width: 555px) {
  .event-data span {
    font-size: 15px;
  }
  
  .event-data .title {
    font-size: 30px;
    margin: 0px;
  }
  
  .event-data .text {
    font-size: 15px;
    width: 80vw;
  }
    
  }

  
  /* ------------------------------------------ filter img ---------------------------------------------  */
  

  .fitter-img .title{
    position: relative;
    text-align: center;
    color: #00b2c1;
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 30px;
    /* padding-bottom: 20px; */
    font-family: 'Ubuntu', sans-serif;
  }


  .fitter-img .wrapper {
    margin: 100px auto;
    max-width: 1100px;
  }

  .fitter-img .wrapper .img-nav {
    display: flex;
    justify-content: center;
  }

  .fitter-img .wrapper .items {
    display: flex;
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
  }

  .fitter-img .items span {
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #00b2c1;
    border-radius: 50px;
    border: 2px solid #00b2c1;
    transition: all 0.3s ease;
  }

  .fitter-img .items span.active,
  .fitter-img .items span:hover {
    color: #fff;
    background: #00b2c1;
  }

  .fitter-img .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .fitter-img .gallery .image {
    width: calc(100% / 4);
    padding: 7px;
  }

  .fitter-img .gallery .image span {
    display: flex;
    width: 100%;
    overflow: hidden;
  }

  .fitter-img .gallery .image img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
  }

  .fitter-img .gallery .image:hover img {
    transform: scale(1.1);
  }

  .fitter-img .gallery .image.hide {
    display: none;
  }

  .fitter-img .gallery .image.show {
    animation: animate 0.4s ease;
  }

  @keyframes animate {
    0% {
      transform: scale(0.5);
    }

    100% {
      transform: scale(1);
    }
  }

  .fitter-img .preview-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }

  .fitter-img .preview-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  }

  .fitter-img .preview-box .details {
    padding: 13px 15px 13px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fitter-img .details .img-title {
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }

  .fitter-img .details .img-title p {
    font-weight: 500;
    margin-left: 5px;
  }

  .fitter-img .details .icon {
    color: #00b2c1;
    font-style: 22px;
    cursor: pointer;
  }

  .fitter-img .preview-box .image-box {
    width: 100%;
    display: flex;
  }

  .fitter-img .image-box img {
    width: 100%;
    border-radius: 0 0 3px 3px;
  }

  .fitter-img .shadow {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0, 0, 0, 0.4);
  }

  .fitter-img .shadow.show {
    display: block;
  }

  .fitter-img .button-area{
    display: flex;
    align-items: center;
    margin: 20px;
    }
    .fitter-img .button-area button{
    color: #fff;
    display: block;
    width: 160px!important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: #00b2c1;
    border: 2px solid #00b2c1;
    transition: all 0.2s ease;
    }
  

  @media (max-width: 1000px) {
    .fitter-img .gallery .image {
      width: calc(100% / 3);
    }
  }

  @media (max-width: 800px) {
    .fitter-img .gallery .image {
      width: calc(100% / 2);
    }
  }

  @media (max-width: 700px) {
    .fitter-img .wrapper .img-nav .items {
      max-width: 600px;
    }

    .fitter-img .img-nav .items span {
      padding: 7px 15px;
    }
  }

  @media (max-width: 600px) {
    .fitter-img .wrapper {
      margin: 30px auto;
    }

    .fitter-img .wrapper .img-nav .items {
      flex-wrap: wrap;
      justify-content: center;
    }

    .fitter-img .img-nav .items span {
      margin: 5px;
    }

    .fitter-img .gallery .image {
      width: 100%;
    }
  }  
  
  /* ------------------------------------------content << header ---------------------------------------------  */
  
  .content{
    max-height: 87vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
  }
  .content .images{
    height: 100%;
    width: 100%;
  }
  .content .images img{
    height: 100%;
    width: 100%;
    transition:  all 0.3s ease;
  
  }

  
  /* ------------------------------------------  star Rating ---------------------------------------------  */
  #star-rating{
            display: grid;
            max-width: 500px;
            margin: 60px auto;
            padding: 30px 0px;
            place-items: center;
            text-align: center;
            background: #1b1b1b;
            border: 7px solid  #00b2c1;
            border-radius: 25px;
  }

  #star-rating .title{
    color: #00b2c1;
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 30px;
    /* padding-bottom: 20px; */
    font-family: 'Ubuntu', sans-serif;
  }
  
  .star-ratting {
    position: relative;
    width: 400px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid cornsilk;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.star-ratting .post {
    display: none;
}

.star-ratting .text {
    font-size: 25px;
    color: #fd4;
    font-weight: 500;
}

.star-ratting .edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #00b2c1;
    font-weight: 500;
    cursor: pointer;
}

.star-ratting .edit:hover {
    text-decoration: underline;
}

.star-ratting .star-widget input {
    display: none;
}

.star-ratting .star-widget label {
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}


.star-ratting input:not(:checked)~label:hover,
.star-ratting input:not(:checked)~label:hover~label {
    color: #fd4;
}

.star-ratting input:checked~label {
    color: #fd4;
}

.star-ratting input#rate-5:checked~label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

#rate-1:checked~form header:before {
    content: "I just hate it ";
}

#rate-2:checked~form header:before {
    content: "I don't like it ";
}

#rate-3:checked~form header:before {
    content: "It is awesome ";
}

#rate-4:checked~form header:before {
    content: "I just like it ";
}

#rate-5:checked~form header:before {
    content: "I just love it ";
}

.star-ratting form {
    display: none;
}

.star-ratting input:checked~form {
    display: block;
}

.star-ratting form header {
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

.star-ratting form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.star-ratting form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    color: rgb(17, 17, 17);
    border: 2px solid #00b2c1;
    border-radius: 5px;
    background: rgb(90, 90, 90);
    padding: 10px;
    font-size: 17px;
    resize: none;
}

.star-ratting .textarea textarea:focus {
    border-color: #00b2c1;
}

.star-ratting form .btn {
    height: 45px;
    width: 100%;
    margin: 10px auto;
}

.star-ratting form .btn button {
    
    height: 100%;
    width: 100%;
    border: 2px solid cornsilk;
   
    border-radius: 5px;
    outline: none;
    background: #00b2c1;
    color: cornsilk;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.star-ratting form .btn button:hover {
    background: cornsilk;
    color: #444;
    border: 2px solid rgb(90, 90, 90);
}
@media (max-width: 450px) {
  #star-rating{
    display: none;
  }
}  
@media (max-width: 550px) {
  
  #star-rating{
 
    max-width: 400px;
}
}


  
  /* ------------------------------------------  user Rating ---------------------------------------------  */
  #User-Rating{
            display: grid;
            text-align: center;
            background: rgb(255, 255, 255);
  }
  .Rating .title{
    position: relative;
    text-align: center;
    color: #00b2c1;
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 0px;
    /* padding-bottom: 20px; */
    font-family: 'Ubuntu', sans-serif;
  }
  .Rating{
    border: 7px solid #00b2c1;
    background-color: #1b1b1b;
    color: #ccc;
    border-radius: 20px;
    margin:  50px 150px;
    padding: 50px 50px;
  }
  
  .Rating .Rating-header{
    text-align: center; 
  }
   
  
  .Rating .Rating .Rating-header p{
    font-size: 1.5rem;
    margin: 20px;
  }
  
  .Rating .heading {
    font-size: 2rem;
    margin:auto; 
  }
  
  .Rating .Rating-data{
    margin: 30px 30px;
  }
  
  
  
  .Rating .checked {
    color: orange;
  }
  
  /* Three column layout */
  .Rating .side {
    float: left;
    width: 15%;
    margin-top:10px;
  }
  
  .Rating .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }
  
  /* Place text to the right */
  .Rating .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .Rating .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .Rating .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .Rating .bar-5 {
    width: 60%; height: 18px; background-color: #04aa20;}
  .Rating .bar-4 {
    width: 30%; height: 18px; background-color: #04aa20;}
  .Rating .bar-3 {
    width: 10%; height: 18px; background-color: #04aa20;}
  .Rating .bar-2 {
    width: 4%; height: 18px; background-color: #ff9800;}
  .Rating .bar-1 {
    width: 15%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 900px) {
    .Rating .side, .Rating .middle {
      width: 100%;
    }
    .Rating .right {
      display:block;
      text-align: center;
      
    }
    .Rating{
      margin:  50px 50px;
      padding: 30px;
    }
    .Rating .Rating-header p{
      font-size: 0.8rem; margin: 15px 10px;
    }
    .Rating .Rating-data{
      margin: 20px 5px;
    }
  }
  
  /* ------------------------------------------counter ---------------------------------------------  */
  
  .counter-up{
    background-color: #1b1b1b;
    background: url("../IMG/coppy-2.jpg") no-repeat;
    min-height: 50vh;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 50px;
    position: relative;
    display: flex;
    align-items: center;
  }
  .counter-up::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
  }
  .counter-up .content{
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .counter-up .content .box{
    border: 5px solid #00b2c1;
    width: calc(25% - 30px);
    background-color: #0f0f0f;;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
  }
  .content .box .icon{
    font-size: 48px;
    color: #e6e6e6;
  }
  .content .box .counter{
    font-size: 50px;
    font-weight: 500;
    color: #f2f2f2;
    font-family: sans-serif;
  }
  .content .box .text{
    font-weight: 400;
    color: #ccc;
  }
  @media screen and (max-width: 1036px) {
    .counter-up{
      padding: 50px 50px 0 50px;
    }
    .counter-up .content .box{
      width: calc(50% - 30px);
      margin-bottom: 50px;
    }
  }
  @media screen and (max-width: 580px) {
    .counter-up .content .box{
      width: 100%;
      height: 300px;
    }
    
  }
  @media screen and (max-width: 500px) {
  
    .counter-up{
      padding: 30px 20px 0 20px;
    }
  }
  
  /* ------------------------------------------ team ---------------------------------------------  */
 
/* all similar content styling codes */
section {
  padding: 60px 0;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}


section .title{
  position: relative;
  text-align: center;
  color: #00b2c1;
  font-size: 40px;
  font-weight: 1000;
  margin-bottom: 60px;
  /* padding-bottom: 20px; */
  font-family: 'Ubuntu', sans-serif;
}

.teams .slider{
  display:flex;
  flex-direction: row;

}
.teams .carousel{
  display: flex;
  margin: 10px 10px;
}

.teams .carousel .card,.teams .carousel .card-3{
  background: #222;
  color: #ccc;
  border-radius: 6px;
  margin: 10px auto;
  padding: 25px 35px;
  text-align: center;
  /* overflow: hidden; */

}
.teams .carousel .card-2, .teams .carousel .card-4{
  background: #00b2c1;
  border-radius: 6px;
  margin: 10px auto;
  padding: 25px 35px;
  text-align: center;
  /* overflow: hidden; */
}
.teams .carousel .card .box,.teams .carousel .card-2 .box,.teams .carousel .card-3 .box,  .teams .carousel .card-4 .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  width: 100%;
}

.teams .carousel .card .text,.teams .carousel .card-2 .text,.teams .carousel .card-3 .text,  .teams .carousel .card-4 .text{
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0 7px 0;
}
.teams .carousel .card img,.teams .carousel .card-2 img,.teams .carousel .card-3 img,  .teams .carousel .card-4 img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #00b2c1;
  transition: all 0.3s ease;
}
.teams .carousel .card-2 img,  .teams .carousel .card-4 img{
  border-color: #fff;
}



/* contact section styling */

.contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* .contact .title::after{
  content: "get in touch";
} */
.contact .contact-content .column{
  width: calc(50% - 30px);
}
.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p{
  text-align: justify;
}
.contact .contact-content .left .icons{
  margin: 10px 0;
}

.contact .contact-content .icons{
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  
}

.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color: #00b2c1;
}
.contact .contact-content .info .head{
  font-weight: 500;
}
.contact .contact-content .info .sub-title{
  color: #333;
}
.contact .right form .fields{
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea{
  height: 80px;
  width: 100%;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
padding-top: 10px;
resize: none;
}
.contact .right form .button-area{
display: flex;
align-items: center;
}
.right form .button-area button{
color: #fff;
display: block;
width: 160px!important;
height: 45px;
outline: none;
font-size: 18px;
font-weight: 500;
border-radius: 6px;
cursor: pointer;
flex-wrap: nowrap;
background: #00b2c1;
border: 2px solid #00b2c1;
transition: all 0.3s ease;
}
.right form .button-area button:hover{
color: #00b2c1;
background: none;
}
/* footer section styling */
footer{
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a{
  color: #00b2c1;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}
@media (max-width: 991px) {
  .max-width{
      padding: 0 50px;
  }
}
@media (max-width: 800px){
  .teams .th-carousel {
    display: none;
  }
}
@media (max-width: 947px){
  .max-width{
      max-width: 930px;
  }
  .contact .contact-content .column{
      width: 100%;
      margin-bottom: 35px;
  }
}
@media (max-width: 690px) {
  .max-width{
      padding: 0 23px;
  }
}
@media (max-width: 530px){
  .teams .one-carousel {
    display: none;
  }
}
@media (max-width: 500px) {
  .contact .right form .fields{
      flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email{
      margin: 0;
  }
  .right form .error-box{
     width: 150px;
  } 
}
@media (max-width: 400px) {
  .contact .contact-content .icons{
    display: flex;
    flex-direction: column;
    place-items: center;
   
    
  }
  
  .contact .contact-content .row{
    display: flex;
    margin: 20px 0px ;
    flex-direction: column;
    height: 65px;
    text-align: center;
  }
  .contact .contact-content .row .info{
    margin-left: 0px;
  }
}